html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


/*Default.aspx CSS*/
.loginbox {
    /*top: 20px;*/
    background-color: white;
    box-shadow: 9px 10px 12px 8px rgba(0,0,0,0.36);
    position: relative;
    top: 50px;
    min-width: 300px;
    border-radius: 20px;
}

.Btn_Width_Login {
    width: 40%;
}

.loginHeader {
    background-color: black;
    text-align: center;
    color: white;
    box-shadow: 1px 13px 13px 2px rgba(0,0,0,0.36);
}

.loginHeaderText {
    font-size: 3.5vw;
    font-weight: 300;
    line-height: 1.2;
}

.loginBackground {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
    background-attachment: fixed;
    /*background-color: antiquewhite;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    /*position:absolute;*/
}

.logobox {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alertLogin {
    top: 5px;
    position: relative;
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.error-group {
    margin-bottom: 2rem;
}

.Radio_Login > input {
    margin-left: 10px;
}

.Radio_Login > label {
    padding: 0px 20px 0px 5px;
}


/*Main.Master CSS*/
#Form_Main_Master {
    height: 100%;
    width: 100%;
}

#Wrapper {
    height: 100%;
}

#Main_Footer {
    bottom: 0;
    position: relative;
    width: 100%;
    padding-left: 16%;
    padding-right: 10px;
    height: 60px;
    transition: 0.4s;
}

    #Main_Footer hr {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

.pushdown {
    height: 60px;
}

#Header_Wrapper {
    z-index: 2;
    background-color: #212529;
    /*background-image: linear-gradient(to right, #bdc3c7, #212529);*/
    text-align: center;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    left: 0; /*15%;*/
    /*border-bottom-color: lightgray;
    border-bottom-width: 1px;
    border-bottom-style: solid;*/
    /*height: 10%;*/
    height: 70px;
    box-shadow: 0px 13px 15px 3px rgba(0,0,0,0.20);
}

#Sidebar-Wrapper {
    background-color: whitesmoke;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    width: 15%;
    /*min-width: 200px;*/
    height: 100%;
    /*background-color: #bdc3c7;*/
    /*background-image: linear-gradient(to bottom, #bdc3c7, #2c3e50);*/
    border-right-color: lightgray;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    transition: 0.4s;
    /*box-shadow: 10px 0px 15px 3px rgba(0,0,0,0.36);*/
}

h2 {
    margin-left: 10px;
}

#Content_Wrapper {
    padding-top: 100px;
    /*padding-top: 6%;*/
    width: 100%;
    padding-left: 15%;
    /*padding-left: 220px;*/
    transition: 0.4s;
    /*height:100%;*/
    min-height: 100%;
    margin-bottom: -60px;
}

.Sidebar-Nav {
    padding: 0;
    outline-style: none;
    transition: 0.4s;
}

    .Sidebar-Nav li {
        text-indent: 10px;
        line-height: 40px;
    }

        .Sidebar-Nav li a {
            display: block;
            text-decoration: none;
            /*transition: 0.3s;*/
            color: black;
            position: relative;
            white-space: nowrap;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

            .Sidebar-Nav li a:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #2098D1;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            .Sidebar-Nav li a:hover, .Sidebar-Nav li a:focus, .Sidebar-Nav li a:active {
                /*background-color:aqua;
                color:black;*/
                color: white;
            }

                .Sidebar-Nav li a:hover:before, .Sidebar-Nav li a:focus:before, .Sidebar-Nav li a:active:before {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }

.WelcomeLbl {
    padding-bottom: 20px;
    white-space: nowrap;
}

.Sidebar_Lbl_Big {
    font-size: 1.3rem;
    font-weight: 300;
    /*padding-left: 10px;*/
    text-align: center;
    display: block;
    word-wrap: break-word;
    margin-bottom: 0px;
    /*white-space: nowrap;*/
}

.Sidebar_Lbl_Small {
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    transition: height 0.4s, opacity 0.4s;
    height: 50px;
    margin: 0px;
}

.MainHeaderText {
    font-size: 250%;
    font-weight: 300;
    line-height: 1.2;
}

.IL_LinebelowOrders {
    display: flex;
    height: 30px;
    justify-content: center;
}

.LinebelowOrders {
    border-bottom-color: black;
    border-bottom-width: 1.5px;
    border-bottom-style: dashed;
    position: relative;
    height: 50%;
    width: 90%
}

a i {
    margin-right: 10px;
    transition: 0.4s;
}

#Sidebar-Wrapper div {
    transition: 0.4s;
}

/*Hamburger Icon*/
.HamburgerContainer {
    display: inline-block;
    cursor: pointer;
}

    .HamburgerContainer:hover div {
        background-color: #f2f3f4;
    }

.Hbar1, .Hbar2, .Hbar3 {
    width: 30px;
    height: 4px;
    background-color: #bdc3c7; /*#333;*/
    margin: 4px 0;
    transition: 0.4s;
}

.change .Hbar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
}

.change .Hbar2 {
    opacity: 0;
}

.change .Hbar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -5px);
    transform: rotate(45deg) translate(-6px, -5px);
}

.Sidebar-Nav_shiftup {
    transform: translate(0,-100px);
}

.Sidebar_Close {
    width: 3% !important;
    min-width: 40px !important;
    /*opacity: 0;*/
}

.SidebarLi_Close {
    text-indent: 8px !important;
}

.Content_Expand {
    padding-left: 3% !important;
}

.IconExpose {
    margin-right: 40px !important;
}

.Disappear {
    opacity: 0;
}

.NoWrap {
    white-space: nowrap;
}

.Sidebar_Lbl_Small_Close {
    height: 0px;
    margin: 0px;
}

.Main_Footer_Expand {
    padding-left: 4% !important;
}

/*GridView CSS*/

/*#TableConfig_Wrapper{

}*/

#Wrapper_GridView {
    padding: 20px 30px 0 30px;
}

.bg_modal {
    width: 100%;
    /*height: 90%;*/
    top:70px;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    -ms-flex-pack: center;
    align-content: center;
    -ms-flex-align: center;
    position: fixed;
    bottom: 0;
    /*display: none;*/
    display: flex !important;
    display: -ms-flexbox !important;
    transition: background-color 0.4s;
    visibility: hidden;
    left: 0px;
    z-index: 2;
}

.bg_modal_appear {
    visibility: visible;
    background-color: rgba(0,0,0,0.7);
}

.Modal_Content {
    width: 700px;
    /*height: 380px;*/
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.Close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

.Link_Disabled {
    cursor: default;
    pointer-events: none;
}

.alertValidate {
    top: 5px;
    position: relative;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    display: none;
}


.ShowDisplay {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.Btn_form_width {
    width: 60%;
}

.Label_Form_Align {
    text-align: left;
}

.CheckBox_Form_Align {
    text-align: right;
}

.Dropdown_scroll_Overlap {
    position: absolute;
    width: 95%;
}

.Z_index1 {
    z-index: 1;
}

.Z_index2 {
    z-index: 2;
}

.Z_index3 {
    z-index: 3;
}

.PreventScroll {
    overflow: hidden;
}

.table .thead-dark th a {
    color: white;
}

.Align-center {
    text-align: center;
}


.padding-bottom {
    padding-bottom: 10px;
}


.Fieldset_Box {
    border: 1px Solid #DFDFDF;
    border-radius: 10px;
    margin: 20px 10px;
}

.Caption {
    background-color: white;
    position: relative;
    left: 26px;
    top: -13px;
    margin-right: 18px;
    padding: 0px 6px 0px 6px;
    color: #757575;
    text-transform: uppercase;
    font-size: 1em;
}

.form-control-widthauto {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*YieldView CSS*/

.GV_EditBtn {
    background-color: lightseagreen;
}

.GV_Btn {
    margin-bottom: 5px;
}

.table th,
.table td {
    text-align: center;
}

.marginTop {
    margin-top: 15px;
}

@media (max-width:1400px){
    #Sidebar-Wrapper {
        width: 210px;
        top: 60px;
    }
    #Content_Wrapper {
        padding-left: 210px;
        
    }

    #Header_Wrapper {
        height: 60px;
    }

    .MainHeaderText {
        font-size: 40px;
        white-space:nowrap;
    }
    #Main_Footer {
        padding-left: 220px;
    }
    #modal_container{
        top:60px;
    }
}

@media (max-width:950px) {
    #Content_Wrapper{
        width:950px;
    }

}