<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <title>Portal Access</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<div class="loginBackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 loginHeader">
                <h1 class="loginHeaderText">Welcome to Main</h1>
            </div>
        </div>
    </div>


    <br/>

<!--    <div>-->
<!--        User: <span sec:authentication="name">NOT FOUND</span>-->
<!--        Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>-->
<!--    </div>-->
<!--    <div sec:authorize="hasAuthority('ADMIN')">-->
<!--        This content is only shown to administrators.§§-->
<!--    </div>-->

<!--    <div sec:authorize="hasAuthority('USER')">-->
<!--        This content is only shown to users.-->
<!--    </div>-->
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-5 loginbox">
                    <div class="logobox">
                        <img class="img-fluid mx-auto" src="Images/logo.png" />
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')" class="form-group Align-center ">
                        <h5 class="Align-center ">Secret Page Access</h5>

                        <button type="button" id="AccessSecret" class="btn btn-dark ">Secret Access<i class="fas fa-key"></i></button>
                    </div>


                <form th:action="@{/logout}" method="post" class="form-group float-right">
                    <input class="btn btn-info" type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>
