<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Portal Access</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
    <div class="loginBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 loginHeader">
                    <h1 class="loginHeaderText">Logout Successful <i class="fas fa-thumbs-up"></i></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center text-center">

                <div class="col-5 text-center align-items-center" style="padding: 100px;">
                    <form th:action="@{/login}" method="get" class="form-group float-right">
                        <input class="btn btn-info" type="submit" value="Back to Login"/>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
